// process configs. 

apptainer.enabled = true
process {
    withName: MEGAHIT{
        cpus = 12
        memory = 40.GB
        container = 'https://depot.galaxyproject.org/singularity/megahit:1.1.2--py27_0'
    }
    withName: MULTIQC{
        cpus = 1
        container = 'https://depot.galaxyproject.org/singularity/multiqc:1.0--py27_0'
    }


}